<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	h3{
		color: black;

	}
	</style>
</head>
<body>
	<h1>Why "Let We Know"?</h1>
	<h3>"Let We Know" technology at upto 93% accuracy will be one of the fastest and most accurate in the industry comparing favourably with a tech giants Facebook and Google. Our Portfolio of intelligent video analytics product is unmatched in the industry allowing system integrates and solution provides to build market leading solution across many different markets.</h3>
    <img src="{{url_for('static',filename='works.jpg')}}" style="margin-left:40px;",width="20",height="20">

</body>
</html>