<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	img {
  border-radius: 50%;
}
	</style>
</head>
<body>
<h1>OUR TEAM</h1>
<img src="{{url_for('static',filename='photo3.jpg')}}" alt="Paris" width="300" height="300">

<img src="{{url_for('static',filename='photo1.jpg')}}" alt="Paris" width="300" height="300" style="position: relative;left: 800px;">

<img src="{{url_for('static',filename='photo.jpg')}}" alt="Paris" width="300" height="300">

<img src="{{url_for('static',filename='photo2.jpg')}}" alt="Paris" width="300" height="300" style="position: relative;left: 800px;">

</body>
</html>