<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
	</style>
</head>
<body>

<h1>FEATURES</h1>
<h3>"Let We Know" is a fast and powerful application that understands the behaviour of the customer from Closed Circuit Television System into short managable video summary."Let We Know" reduces the time required to analyse the behaviour of customer from a video data such as static or empty scenes."Let We Know" quickly analyses the customer behaviour by applying hot zone map based on the intensity of the  HOG features. This allows business professionals to quickly understands the behaviour of the customers and their by corrective measures and make their business sucessful.  </h3>
<img src="{{url_for('static',filename='analytics.jpg')}}" style="margin-left:40px;",width="20",height="20">

</body>
</html>